{% extends 'base.html.twig' %}

{% block title %}{{ film.titre }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="well">
            <h3>{{ film.titre }}</h3>
            <h4 class="card-title">({{ film.anneeProd }}) {{ film.titre }}</h4>
            <p>{{ film.resum }}</p>
            {% if film.genre is null %}
                <p>pas de genre</p>
            {% else %}
                <p>{{ film.genre.nom }}</p>
            {% endif %}
            <a href="/films">Revenir à la liste des films</a>
        </div>
    </div>
{% endblock %}
